@media screen and (max-width: 490px){

    ul{
        display: none;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .imagem-responsiva{
        display: flex;
        width: 140px;
        height: 140px;
        background-image: url(../img/logo.png);
        background-size: cover;
        margin: 0px 0px 0px 20px;
    }

    .menu-responsivo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 20px 0px 0px;
        width: 50px;
        height: 50px;
        font-size: 1.7rem;
        color: var(--dourado-300);
    }
    .saiba {
        margin-top: -50px;
    }

    .slider{
        max-width: 95%;
        max-height: 313px;
        overflow: hidden;
    }

    .slides:checked{
        width: 100%;
    }

    .slides img{
        width: 100%;
        object-fit: cover;
    }

    .slide h1{
        bottom: 25px;
        width: 95%;
        font-size: 18px;
    }

    .cartoes{
        width:85%;
        gap: 20px;
    }

    .informacoes {
        width: 85%;
    }

    .informacoes img{
        width: 90%;;
    }

    .navigation-manual{
        bottom: 8px;
    }

    .navigation-auto{
        bottom: 8px;
    }

    .manual-btn{
        width: 25px;
    }

    .manual-btn:hover {
        background: var(--withe);
    }

    .auto-btn1, .auto-btn2, .auto-btn3 {
        width: 25px;
    }

    footer p{
        width: 80%;
        text-align: center;
        font-size: 0.9rem;
        font-weight: normal;
    }
}
  @media (min-width: 491px) and (max-width: 1024px) {
    .slider{
        width: 90%;
        max-height: 400px;
        overflow: hidden;
    }

     .slides img{
        width: 100%;
        object-fit: cover;
    }
    .slide h1{
        bottom: 27px;
        width: 100%;
        font-size: 30px;
    }
     .cartoes{
        width:100%;
        gap: 20px;
        border-radius: 10px;
    }
    .informacoes{
        width: auto;
        height: 470px;
    }
}

@media (min-width: 1024px){
    .slider{
        width: 95%;
    }

    .slides img{
        width: 100%;
        object-fit: cover;
    }
    
    .slide h1{
        width: 100%;
    }
}