@import url(index.css);

.menu-responsivo{
    display: none;
}

nav, ul, a{
    display: flex;
}

header{
    background-color: #000;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem-responsiva{
    display: flex;
    width: 140px;
    height: 140px;
    background-image: url(./img/logo.png);
    background-size: cover;
}

a{
    color: var(--dourado-100);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s;
}

a:hover{
    color: var(--dourado-300);
    transition: 0.1s;
}

main{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.secao-informacao{
    width: 100%;
    padding: 20px 0px 20px 0px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacao{
    width: 70%;
    height: fit-content;
    padding: 0px 0px 30px 0px;
    border-radius: 25px;
    border: 2px solid var(--dourado-300);
    animation: animacao-opacidade 1s normal;
}

.icone-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0px 0px 0px;
    border-radius: 25px 25px 0px 0px;
}

.icone{
    width: 60px;
    height: 60px;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animacao-opacidade 1s normal;
    margin: -1px 0px 0px 44px;
}

.titulo{
    font-size: 1.6rem;
    font-family: var(--interBold);
    margin-left: 10px;
}

.descricao-titulo{
    font-family: var(--interRegular);
    font-size: 1.4rem;
    width: 90%;
    margin: 2px 0px 0px 60px;
}

.secao-valores{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.valores{
    width: 70%;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--dourado-300);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animacao-opacidade 0.5s normal;
}

#topicos-valores{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topico{
    font-family: var(--interRegular);
    width: 65%;
    margin: 15px 10px 15px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid var(--dourado-300);
    animation: animacao-opacidade 1s normal;
}

.topico p{
    font-size: 1.2rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 120px;
}

footer p{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: var(--interRegular);
    color: var(--dourado-100);
}

@keyframes animacao-opacidade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}