@media screen and (max-width: 760px){   
    nav, ul{
        display: none;
    }

    header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .imagem-responsiva{
        display: flex;
        width: 140px;
        height: 140px;
        background-image: url(./img/logo.png);
        background-size: cover;
        margin: 0px 0px 0px 20px;
    }

    .menu-responsivo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 20px 0px 0px;
        width: 50px;
        height: 50px;
        font-size: 1.7rem;
        color: var(--dourado-300);
    }

    main{
        height: fit-content;
        justify-content: space-evenly;
    }

    .secao-informacao{
        height: fit-content;
    }

    .informacao{
        scale: 0.9;
        width: 90%;
        padding: 0px 0px 35px 0px;
        height: fit-content;
    }

    .informacao h1{
        font-size: 1.3rem;
    }

    .icone-titulo{
        display: flex;
        justify-content: center;
        margin: 15px 0px 0px 0px;
    }

    .titulo, .icone{
        margin: 0px 3px 0px 3px;
        font-size: 1.4rem;
        /* border: 1px solid red; */

    }

    .descricao-titulo{
        width: 90%;
        height: fit-content;
        text-align: center;
        font-size: 1.1rem;
        font-weight: normal;
        margin: 0px 20px 0px 20px;
    }

    .secao-valores{
        height: fit-content;
    }

    .valores{
        /* border: 1px solid red; */
        scale: 0.9;
        width: 90%;
    }
    .valores h1{
        /* border: 1px solid red; */
        margin-right: 35px;
    }

    #topicos-valores{
        /* border: 1px solid red; */
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 5px 0px 0px 0px;
        height: fit-content;
        display: flex;
    }

    .topico{
        text-align: center;
        scale: 0.9;
        width: 60%;
        margin: 15px 0px 15px 0px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        padding: 10px;
        border: 2px solid var(--dourado-300);
    }

    .topico p{
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
    }
   
    footer{
        width: 100%;
    }

    footer p{
        width: 80%;
        text-align: center;
        font-size: 0.9rem;
        font-weight: normal;
    }
}

